[package]
name = "autosar-data"
version = "0.2.0"
authors = ["Daniel Thaler <daniel@dthaler.de>"]
edition = "2021"
description = "read, write and modify Autosar arxml data"
license = "MIT OR Apache-2.0"
keywords = ["arxml", "automotive", "file-format", "Autosar"]
categories = ["parser-implementations"]
repository = "https://github.com/DanielT/autosar-data"

[dependencies]
autosar-data-specification = "0.2"
thiserror = "~1.0"
smallvec = { version = "~1.8.0", features = ["union", "const_generics"]}
parking_lot = "0.12"
rustc-hash = "1.1.0"

[[example]]
name = "demo"
